/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

header h1 {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;


}

.border {
  border: 1px solid black;
}

body {
  height: 100%;

}

a {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 10px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}

a:hover {
  background-color: black;
  color: orange;
}

/* Articulos de galeria */
article {
  background-color: #fff;
  border-radius: 4px;
  margin: 5px;
  text-align: center;
  font-size: 0.75rem;
  padding: 5px;
}



/* GRIDS POR AREAS */
#gridAreas {
  display: grid;
  /* grid por areas */
  grid-template-areas:
    /* 3 columnas y 4 filas */
    "cabeza cabeza  logo"
    /* fila 1 */
    "productos productos pepe"
    /* fila 2 */
    "servicios servicios servicios"
    /* fila 3 */
    "pie pie pie";





  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 0fr 0fr 5% 0fr;
  grid-column-gap: 2px black;
  grid-row-gap: 2px black;





}

/* Nombrar las areas */
header {
  grid-area: cabeza;
  /* background-color:; */
  background-image: linear-gradient(45deg , red, lightblue);
  padding: 10px;
}

footer {
  grid-area: pie;
  background-color: black;
  padding: 10px;
  text-align: center;
  font-size: xx-small;
  font-family: Arial, Helvetica, sans-serif;
  color: blanchedalmond;

}

#productos {
  grid-area: productos;
  /* background-color: grey; */
  background-image: linear-gradient(180deg, red, lightblue);
  padding: 10px;
}

#servicios {
  grid-area: servicios;
  background-color: grey;
  padding: 10px;

}

.bar {
  width: 40vh;
  height: 40vh;

}


nav {
  grid-area: menu;
  background-color: grey;
  padding: 10px;

}

aside {
  grid-area: pepe;
  /* background-color: rgb(190, 190, 120); */
  background-image: linear-gradient(180deg, red, yellow);
  padding: 10px;
}

div {
  grid-area: logo;
  background-color: grey;
  padding: 10px;

}

/* MENU FLEX */
.flexMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* GALERIA FLEX */
.productosFlex {
  display: flex;
  flex-flow: column nowrap;
}

.publi {
  width: 30vh;
  height: 150vh;
  margin: 2px;

}

#divlogo {
  background-color: white;
}

.logo {

  width: 100%;
  height: 100%;

  margin: 1vh;
}

.portada {

  width: 70vh;
  height: 60vh;
}

section article {
  background-image: linear-gradient(to right, red, lightblue);

}

/*tablet*/
@media(min-width:481px) and (max-width:1023px) {

  header h1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
  
  
  }
  
  .border {
    border: 1px solid black;
  }

  body {
    width: 100vh;
  }

  span {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
  }

  span:hover {
    background-color: black;
    color: orange;
  }

  /* Articulos de galeria */
  article {
    background-color: #fff;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    font-size: 0.75rem;
    padding: 5px;
  }

  article h3 {
    margin: 20px 20px;
  }

  #gridAreas {
    display: grid;
    /* grid por areas */
    grid-template-areas:
      /* 2 columnas y 4 filas */
      "cabeza cabeza "
      /* fila 1 */
      "menu cabeza"
      /* fila 2 */
      "servicios servicios"
      /* fila 3 */
      "pie  pie";

    grid-template-columns: 25% auto;
    grid-template-rows: 15% 1fr 10% 0fr;
    grid-column-gap: 3px black;
    grid-row-gap: 3px black;
  }



  /* MENU FLEX */
  .flexMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* GALERIA FLEX */
  .productosFlex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  /*publicidad Flex*/
  #publicidad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


  }
  .publi {
    width: 30vh;
    height: 150vh;
    margin: 2px;
  
  }
  
  #divlogo {
    background-color: white;
  }
  
  .logo {
  
    width: 100%;
    height: 100%;
  
    margin: 1vh;
  }
  
  .portada {
  
    width: 70vh;
    height: 60vh;
  }
  
  section article {
    background-image: linear-gradient(to right, red, lightblue);
  
  }

}

@media(max-width:480px) {


  header h1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
  
  
  }
  
  .border {
    border: 1px solid black;
  }

  body {
    width: 100vh;
  }

  span {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
  }

  span:hover {
    background-color: black;
    color: orange;
  }

  /* Articulos de galeria */
  article {
    background-color: #fff;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    font-size: 0.75rem;
    padding: 5px;
  }

  article h3 {
    margin: 20px 20px;
  }

  #gridAreas {
    display: grid;
    /* grid por areas */
    grid-template-areas:
      /* 2 columnas y 4 filas */
      "cabeza"
      /* fila 1 */
      "menu"
      /* fila 2 */
      "servicios"
      /* fila 3 */
      "pie";

    grid-template-columns: auto;
    grid-template-rows: 15% 1fr 10% 0fr;
    grid-column-gap: 3px black;
    grid-row-gap: 3px black;
  }



  /* MENU FLEX */
  .flexMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* GALERIA FLEX */
  .productosFlex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  /*publicidad Flex*/
  #publicidad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
  } 
  .publi {
    width: 30vh;
    height: 150vh;
    margin: 2px;
  
  }
  
  #divlogo {
    background-color: white;
  }
  
  .logo {
  
    width: 100%;
    height: 100%;
  
    margin: 1vh;
  }
  
  .portada {
  
    width: 70vh;
    height: 60vh;
  }
  
  section article {
    background-image: linear-gradient(to bottom right, red, lightblue);
  
  }
} 
/* Desktop 
@media(min-width:1024px) { 

  header h1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
  
  
  }


  .border {
    border: 1px solid black;
  }

  body {
    width: 100vh;
  }

  span {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
  }

  span:hover {
    background-color: black;
    color: orange;
  }

  /* Articulos de galeria 
  article {
    background-color: #fff;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    font-size: 0.75rem;
    padding: 5px;
  }

  article h3 {
    margin: 20px 20px;
  }

 
  #gridAreas {
    display: grid;
    /* grid por areas 
    grid-template-areas:
      /* 3 columnas y 4 filas 
      "cabeza cabeza logo"
      /* fila 1 
      "menu productos pepe"
      /* fila 2 
      "servicios servicios servicios"
      /* fila 3 
      "pie pie pie";
  
  
  
  
  
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr 2fr 10% 0fr;
    grid-column-gap: 2px black;
    grid-row-gap: 2px black;
  
  
  }  

  /* MENU FLEX 
  .flexMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* GALERIA FLEX 
  .productosFlex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  /*publicidad Flex
  #publicidad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
  } 
  .publi {
    width: 30vh;
    height: 150vh;
    margin: 2px;
  
  }
  
  #divlogo {
    background-color: white;
  }
  
  .logo {
  
    width: 100%;
    height: 100%;
  
    margin: 1vh;
  }
  
  .portada {
  
    width: 70vh;
    height: 60vh;
  }
  
  section article {
    background-image: linear-gradient(to right, red, lightblue);
  


} 
  
}
*/ 

